.input-container {
  text-align: left;
}

.input-description {
  height: 1.5rem;
  text-align: left;
  font-size: 0.8em;
}

.input {
  height: calc(1.5em + 1rem + 2px);
  border: 0.5px solid rgb(175, 175, 175);
  width: 85%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

.input:focus {
  border: 2px solid black;
}

.input-status {
  height: calc(1.5em + 1rem + 2px);
  float: right;
  width: 15%;
  box-sizing: border-box;
  border: 0.5px solid rgb(175, 175, 175);
  border-left: 0;
}

.input-validation-error {
  border: 0;
  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0);
}

.input-error {
  text-align: left;
  font-size: 0.8em;
  height: 1.5rem;
  color: rgb(192, 0, 0);
}
